* {
    BG:    #1E1D2Fff;
    BGA:   #89DCEBff;
    FG:    #cdd6f4ff;
    FGA:   #F28FADff;
    BDR:   #94e2d5ff;
    SEL:   #1E1E2Eff;
    UGT:   #F28FADff;
    IMG:   #FAE3B0ff;
    OFF:   #575268ff;
    ON:    #ABE9B3ff;
}
